#add the keys and rename the file frim example.env just .env
GEMINI_API_KEY = ""
DEEPSEEK_API_KEY = ""
DISCORD_WEBHOOK_URL =""
IEEE_API_KEY = ""
SPRINGER_API_KEY = ""
SEMANTIC_SCHOLAR_API_KEY_basic = ""
SEMANTIC_SCHOLAR_API_KEY = ""
CORE_API_KEY = ""
ELSEVIER_API_KEY = ""
ELSEVIER_INST_TOKEN = ""
ORCID_CLIENT_ID= ""
ORCID_CLIENT_SECRET= ""
OPENARCHIVES_API_KEY= ""

ZOTERO_API_KEY = ""
ZOTERO_USER_ID = ""
